
@{
    ViewData["Title"] = "Home page";
}

<!-- Hero o portada principal -->
<section class="hero">
    
</section>

<!-- Sección de horarios e historia -->
<section class="about-section">
    <div class="timing-box">
        <h3>Horarios</h3>
        <p>Lunes a Viernes: 18:30 - 20:30</p>
        <p>Sábado: 14:00 - 20:00</p>
        <p>Domingo: Cerrado</p>
        <p>Dirección: Ciudad Oculta, Buenos Aires</p>
    </div>
    <div class="history-box">
        <h2>Nuestra Historia</h2>
        <p>En Casa Oculta no solo cortamos cabello: creamos momentos. Nacimos en el corazón de Ciudad Oculta con una visión clara —ofrecer un espacio diferente, íntimo y con estilo, donde cada visita se sienta única. Lo que empezó como un lugar escondido, hoy es un refugio para quienes buscan más que un buen corte: una experiencia auténtica..</p>
        <a href="#" class="btn btn-dark">Leer más</a>
    </div>
</section>

<!-- Sección de servicios -->
<!-- HTML -->
<footer class="custom-footer">
    <div class="contact-links">
        <a href="https://wa.me/541128882528" target="_blank" class="contact-item">
            <i class="fas fa-phone"></i> 11 28882528
        </a>

        <a href="https://www.instagram.com/barber.casaoculta" target="_blank" class="contact-item">
            <i class="fab fa-instagram"></i> &#64;barber.casaoculta
        </a>
    </div>
</footer>

