@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- Título de la página -->
    <h1 class="display-4">¡Bienvenidos!</h1>

    <!-- Texto adicional -->
    <p>Bienvenidos a nuestra página, esperamos que disfrutes de tu visita</p>

    <!-- Imagen que ocupa toda la pantalla -->
    <img src="~/imagenes/fondo-Bienvenidos.png" alt="Imagen de bienvenida" style="width: 100%; height: 100vh; object-fit: cover;" />
</div>
